<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>N-puzzle</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <body>
        <div id="header">
            <h3>N-puzzle</h3>
        </div>
        <div id="app">
            <div id="info">
                <p>Speed: [[ speed ]] ms</p>
            </div>
            <div id="npuzzle">
                <div class="buttons">
                    <template v-if="is_started">
                        <button @click="pause">Pause</button>
                    </template>
                    <template v-else>
                        <button @click="start_play">Start!</button>
                    </template>
                    <button @click="next_step">Next step</button>
                    <button @click="prev_step">Prev step</button>
                </div>
                <board v-bind:size="parseInt(num_of_squares)" v-bind:state="steps.state"></board>
                <div class="buttons">
                    <button @click="speed_up">Faster</button>
                    <button @click="speed_down">Slower</button>
                </div>
            </div>
        </div>
        <script src="static/index.js"></script>
    </body>
</html>