<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>N-puzzle</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <body>
        <div id="npuzzle">
            <board v-bind:size="parseInt(num_of_squares)" v-bind:state="steps.state"></board>
            <start-button title="Start!"></start-button>
        </div>
        <script src="static/index.js"></script>
    </body>
</html>